force-app/main/default/flows/Home_Page_Energy_Use_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_values_to_new_SAEU</name>
        <label>Assign values to new SAEU</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>newSAEU.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSAEU.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSAEU.FuelConsumptionUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consumption_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSAEU.FuelConsumption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Consumption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSAEU.FuelType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fuelTypePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newSAEU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newSAEU_recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SAEU</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>fuelConsumptionUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FuelConsumptionUnit</picklistField>
        <picklistObject>StnryAssetEnrgyUse</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>fuelTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FuelType</picklistField>
        <picklistObject>StnryAssetEnrgyUse</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StnryAssetEnvSrc_picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>StnryAssetEnvrSrc</object>
        <outputAssignments>
            <assignToReference>newSAEU.StnryAssetEnvrSrcId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastViewedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>newSAEU_recordName</name>
        <dataType>String</dataType>
        <expression>{!newSAEU.StnryAssetEnvrSrc.Name} + &quot;-&quot; +  {!Fuel_Type} + &quot;-&quot;+CASE(MONTH( 
{!newSAEU.StartDate}),1,&quot;Jan&quot;,2,&quot;Feb&quot;,3, &quot;Mar&quot;,4, &quot;Apr&quot;,5, &quot;May&quot;,6, &quot;Jun&quot;,7, &quot;Jul&quot;,8, &quot;Aug&quot;,9,&quot;Sep&quot;,10, &quot;Oct&quot;,11,&quot;Nov&quot;,&quot;Dec&quot;)+ &quot;-&quot; + TEXT(YEAR({!newSAEU.StartDate}))</expression>
    </formulas>
    <interviewLabel>*Home Page Energy Use Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Home Page Energy Use Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SAEU</name>
        <label>Create SAEU record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>newSAEU</inputReference>
    </recordCreates>
    <screens>
        <name>Input_Energy_Use</name>
        <label>Input Energy Use</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_new_SAEU</targetReference>
        </connector>
        <fields>
            <name>Facility</name>
            <choiceReferences>StnryAssetEnvSrc_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Facility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fuel_Type</name>
            <choiceReferences>fuelTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fuel Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consumption_Unit</name>
            <choiceReferences>fuelConsumptionUnit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consumption Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Energy_Consumption</name>
            <dataType>Number</dataType>
            <fieldText>Energy Consumption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>billUploadToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Have a bill image to upload?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>billUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>billUploadToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Energy_Use</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newSAEU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StnryAssetEnrgyUse</objectType>
    </variables>
</Flow>
